.box {
    background: yellow;
    display: block;
    width: 1200px;
    padding: 10px;
    margin: 100px auto 10px auto;
    border-radius: 20px;
}

.header {
    font-family: serif;
    font-weight: bold;
    text-align: center;
}