.box {
    margin: 100px;
    /* height: 600px; */
    width: 1000px !important;
    /* background-color: aqua; */
}

.heading {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.innerBox {
    margin-top: 10px;
    display: flex;
    width: 75%;
    justify-content: space-around;
}