
.header {
    color: white;
    text-align: center;
}

.cart {
    border-radius: 15px;
    padding: 20px;
    margin: 100px auto 20px auto;
    display: block;
    background: #1f048a;
    width: 500px;
}

.bottons {
    width: 30px;
    margin: 15px 2px 0 2px;
}

