
.header {
    text-align: center;
}

.cart {
    padding: 20px;
    margin: 100px auto 20px auto;
    display: block;
    background: rgb(177, 161, 240);
    width: 500px;
}

.bottons {
    width: 30px;
    margin: 15px 2px 0 2px;
}

