.box {
    margin: 150px auto;
    width: 35rem;
    /* background-image: url("https://t4.ftcdn.net/jpg/01/18/61/65/240_F_118616519_k7bfYYxDnEeem4oIgIGttiCi46xIfIbG.jpg"); */
    background-size: cover;
    padding: 25px;
    text-align: left;
    background-color: rgb(32, 2, 88);
    border-radius: 20px;
  }
  .box h1 {
    color: white;
    text-align: center;
  }